@font-face {
	font-family: "Moderat";
	src: url("/Moderat-Bold.eot");
	src: url("/Moderat-Bold.eot?#iefix") format("embedded-opentype"),
		url("/Moderat-Bold.woff2") format("woff2"),
		url("/Moderat-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Moderat";
	src: url("/Moderat-Regular.eot");
	src: url("/Moderat-Regular.eot?#iefix") format("embedded-opentype"),
		url("/Moderat-Regular.woff2") format("woff2"),
		url("/Moderat-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SpaceMono";
	src: url("/SpaceMono-Regular.ttf");
	font-weight: normal;
	font-style: normal;
};

@font-face {
	font-family: "SpaceMono";
	src: url("/SpaceMono-Bold.ttf");
	font-weight: normal;
	font-style: normal;
};