$dodger-blue: #6aa1f4;
$dodger-blue-50: rgba(106, 161, 244, .5);
$rouge-40: rgba(200, 17, 21, 0.4);
$white: #ffffff;
$silver: #d7d8df;
$slate-grey: #a9a9b0;
$stormy-grey: #717177;
$rouge: #c81115;
$onyx: #0c120c;
$pale-grey: #f2f3f7;
$charcoal-grey: #404044;