:root {
    --dodger-blue: #6aa1f4;
    --rouge-40: rgba(200, 17, 21, 0.4);
    --white: #ffffff;
    --silver: #d7d8df;
    --slate-grey: #a9a9b0;
    --stormy-grey: #717177;
    --rouge: #c81115;
    --onyx: #0c120c;
    --pale-grey: #f2f3f7;
    --charcoal-grey: #404044;
}

body {
    background: var(--pale-grey);
    font-family: "Moderat";
    font-size: 16px;
    line-height: 20px;
    padding: 20px;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

.text-centered {
    text-align: center;
}

img#uconn {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 25px;
    padding-top: 20px;
}

#squaredlabs-logo {
    padding-top: 80px;
    padding-left: 15vw;
    padding-right: 15vw;
}

#introduction {
    padding-top: 170px;
    margin: 0 auto;
    width: 40vw;
    color: var(--charcoal-grey);
}

#projects {
    padding-top: 80px;
    position: relative;
}

.project:before {
    background-color: black;
    height: 100%;
    width: 100%;
    content: "";
    opacity: 0.2;
    position: absolute;
    display: block;
}

.project {
    position: relative;
    display: inline-block;
    width: 231px;
    height: 220px;
    margin-right: 20px;
    margin-top: 20px;
}

.project > * {
    position: relative;
}

.project-name {
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline;
    background: white;
    color: var(--onyx);
    font-size: 25px;
    line-height: 1.24;
    max-width: 55%;
    padding: 10px;
}

.project-background {
    position: absolute;
    bottom: -100px;
    right: 20px;
    font-family: SpaceMono;
    font-weight: normal;
    font-size: 149px;
    color: #ffffff;
    color: var(--white);
}

#people {
    padding-top: 160px;
    position: relative;
}

#about {
    display: inline-block;
    width: 231px;
    padding-right: 20px;
}

.person {
    position: relative;
    display: inline-block;
    width: 231px;
    height: 211px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.person .detailed {
    font-size: 13px;
    opacity: 0;
    transition-duration: .3s;
    width: 221px;
}

.person .content {
    box-sizing: border-box;
    position: absolute;
    bottom: -20px;
    left: 20px;
    right: 20px;
    display: inline;
    background: white;
    text-align: center;
    transition: all .3s ease;
    padding: 10px 5px;
    overflow: hidden;
    height: 60px;
}

/* A workaround at the moment for animating height. The width and height of the
   box is a defined height, so this should work regardless of device width.*/
.person .content.two-line-title {
    height: 80px;
}

.person:hover .content {
    left: 0px;
    right: 0px;
    font-size: 13px;
    height: 231px;
}

.person:hover .detailed {
    display: block;
    opacity: 1;
}

.person .content .name {
    font-weight: bold;
    color: var(--dodger-blue);
}

.person .content .grad {
    color: var(--dodger-blue);
}

.people-background {
    position: absolute;
    top: 60px;
    right: 20px;
    font-family: SpaceMono;
    font-weight: normal;
    font-size: 149px;
    color: #ffffff;
    color: var(--white);
}

section#connect {
    display: flex;
    padding-top: 170px;
    position: relative;
}

.link-card {
    flex: 1 1 20vw;
    height: 100px;
    background-color: var(--white);
    margin-right: 20px;
    overflow: hidden;
}

.link-card > div {
    height: 100%;
}

#connect-description {
    flex: 1 1 231px;
    margin-bottom: 20px;
}

.connect-background {
    position: absolute;
    top: 10px;
    right: 20px;
    font-family: SpaceMono;
    font-weight: normal;
    font-size: 149px;
    color: #ffffff;
    color: var(--white);
    z-index: -1;
}

#connect #contact div:first-child {
    transition-duration: 0.2s;
    transform: translateY(0);
}

#connect #contact:hover div:first-child {
    transform: translateY(-15px);
}

#connect #contact img {
    transform: translateY(0);
    transition-duration: 0.2s;
}

#connect #contact:hover img {
    transform: translateY(-44px);
}

@media (max-width: 650px) {
    section#connect {
        flex-wrap: wrap;
    }

    #connect-description {
        order: 1;
        flex-basis: 100%;
    }

    .link-card {
        order: 2;
        flex: 1;
    }
}

footer {
    margin-top: 170px;
}

footer .stamp {
    text-align: center;
    color: var(--dodger-blue);
    font-size: 13px;
}

footer .stamp p {
    padding-top: 8px;
}
