@font-face {
    font-family: "Moderat";
    src: url("https://cdn.core.uconn.edu/fonts/Moderat-Bold.eot");
    src: url("https://cdn.core.uconn.edu/fonts/Moderat-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.core.uconn.edu/fonts/Moderat-Bold.woff2") format("woff2"),
        url("https://cdn.core.uconn.edu/fonts/Moderat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Moderat";
    src: url("https://cdn.core.uconn.edu/fonts/Moderat-Regular.eot");
    src: url("https://cdn.core.uconn.edu/fonts/Moderat-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.core.uconn.edu/fonts/Moderat-Regular.woff2") format("woff2"),
        url("https://cdn.core.uconn.edu/fonts/Moderat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceMono";
    src: url("~assets/fonts/SpaceMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceMono";
    src: url("~assets/fonts/SpaceMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
