.gridded {
    position: relative;
    display: grid;
    margin: 149px 20px;
    height: fit-content;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    // grid-auto-rows: 60px;
    grid-row-gap: 20px;
}

// ++++++++++++ mobile ++++++++++++
// ++++++++++++++++++++++++++++++++
.col-sm-1 {
    grid-column-end: span 1
}

.col-sm-2 {
    grid-column-end: span 2
}

.col-sm-3 {
    grid-column-end: span 3
}

.col-sm-4 {
    grid-column-end: span 4
}

/* offsets */

.off-sm-0 {
    grid-column-start: 1
}

.off-sm-1 {
    grid-column-start: 2
}

.off-sm-2 {
    grid-column-start: 3
}

.off-sm-3 {
    grid-column-start: 4
}

.off-sm-4 {
    grid-column-start: 5
}

// ++++++++++++ tablet ++++++++++++
// ++++++++++++++++++++++++++++++++
@media screen and (min-width: $tablet) {
    .gridded {
        grid-template-columns: repeat(6, 1fr);
        // grid-auto-rows: 100px;
    }
    .col-md-1 {
        grid-column-end: span 1
    }
    .col-md-2 {
        grid-column-end: span 2
    }
    .col-md-3 {
        grid-column-end: span 3
    }
    .col-md-4 {
        grid-column-end: span 4
    }
    .col-md-5 {
        grid-column-end: span 5
    }
    .col-md-6 {
        grid-column-end: span 6
    }
    /* offsets */
    .off-md-0 {
        grid-column-start: 1
    }
    .off-md-1 {
        grid-column-start: 2
    }
    .off-md-2 {
        grid-column-start: 3
    }
    .off-md-3 {
        grid-column-start: 4
    }
    .off-md-4 {
        grid-column-start: 5
    }
    .off-md-5 {
        grid-column-start: 6
    }
    .off-md-6 {
        grid-column-start: 7
    }
}

// ++++++++++++ desktop ++++++++++++
// +++++++++++++++++++++++++++++++++
@media screen and (min-width: $desktop) {
    .gridded {
        grid-template-columns: repeat(8, 1fr);
    }
    .col-1 {
        grid-column-end: span 1
    }
    .col-2 {
        grid-column-end: span 2
    }
    .col-3 {
        grid-column-end: span 3
    }
    .col-4 {
        grid-column-end: span 4
    }
    .col-5 {
        grid-column-end: span 5
    }
    .col-6 {
        grid-column-end: span 6
    }
    .col-7 {
        grid-column-end: span 7
    }
    .col-8 {
        grid-column-end: span 8
    }
    /* offsets */
    .off-0 {
        grid-column-start: 1
    }
    .off-1 {
        grid-column-start: 2
    }
    .off-2 {
        grid-column-start: 3
    }
    .off-3 {
        grid-column-start: 4
    }
    .off-4 {
        grid-column-start: 5
    }
    .off-5 {
        grid-column-start: 6
    }
    .off-6 {
        grid-column-start: 7
    }
    .off-7 {
        grid-column-start: 8
    }
    .off-8 {
        grid-column-start: 9
    }
}

// ++++++++++++ large desktop ++++++++++++
// +++++++++++++++++++++++++++++++++++++++
@media screen and (min-width: $desktopLg) {
    .gridded {
        grid-template-columns: repeat(12, 1fr);
    }
    /* widths */
    .col-lg-1 {
        grid-column-end: span 1
    }
    .col-lg-2 {
        grid-column-end: span 2
    }
    .col-lg-3 {
        grid-column-end: span 3
    }
    .col-lg-4 {
        grid-column-end: span 4
    }
    .col-lg-5 {
        grid-column-end: span 5
    }
    .col-lg-6 {
        grid-column-end: span 6
    }
    .col-lg-7 {
        grid-column-end: span 7
    }
    .col-lg-8 {
        grid-column-end: span 8
    }
    .col-lg-9 {
        grid-column-end: span 9
    }
    .col-lg-10 {
        grid-column-end: span 10
    }
    .col-lg-11 {
        grid-column-end: span 11
    }
    .col-lg-12 {
        grid-column-end: span 12
    }
    .row-off-lg-1 {
        grid-column-start: 2
    }
    .row-off-lg-2 {
        grid-column-start: 3
    }
    .row-off-lg-3 {
        grid-column-start: 4
    }
    .row-off-lg-4 {
        grid-column-start: 5
    }
    /* offsets */
    .off-lg-0 {
        grid-column-start: 1
    }
    .off-lg-1 {
        grid-column-start: 2
    }
    .off-lg-2 {
        grid-column-start: 3
    }
    .off-lg-3 {
        grid-column-start: 4
    }
    .off-lg-4 {
        grid-column-start: 5
    }
    .off-lg-5 {
        grid-column-start: 6
    }
    .off-lg-6 {
        grid-column-start: 7
    }
    .off-lg-7 {
        grid-column-start: 8
    }
    .off-lg-8 {
        grid-column-start: 9
    }
    .off-lg-9 {
        grid-column-start: 10
    }
    .off-lg-10 {
        grid-column-start: 11
    }
    .off-lg-11 {
        grid-column-start: 12
    }
}
